<div align="center">
  <!-- Modal Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form" method="post" action="/login">
            <div class="form-group">
              <label class="control-label col-sm-2" for="username">Username:</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="username" placeholder="Enter Username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <div class="col-sm-10">
                <input class="form-control" type="password" name="password" placeholder="Enter Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg"> Login </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Register -->

  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Register</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form" method="post" action="/register">
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Full Name:</label>
              <div class="col-sm-10">
                <input name="full_name" class="form-control" type="text" placeholder="Enter Name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input name="email" class="form-control" type="text" placeholder="Enter Email">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="username">Username:</label>
              <div class="col-sm-10">
                <input name="username" class="form-control" type="text" placeholder="Enter Username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd1">Password:</label>
              <div class="col-sm-10">
                <input name="password1" type="password" class="form-control" id="pwd1" placeholder="Enter Password">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd2">Confirm Password:</label>
              <div class="col-sm-10">
                <input name="password2" type="password" class="form-control" id="pwd2" placeholder="Confirm Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label><input id="cb" type="checkbox"> I solemnly swear that I am up to no good.</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg"> Register </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p style="color:red;"><%= @login_error if @login_error %></p>
<p style="color:red;"><%= @register_error if @register_error %></p>

<div class="container">
     <div class="jumbotron">
       <h1>openKitchen</h1>
       <p class="lead">/ˈōpən/ˈkiCH(ə)n/    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAABN0lEQVR4AZ3UT4vNYRwF8M+dieS3uNtb7r1lKZPNTNlMWY13gDeBrih7L2A2yka2ItlZYWGrjBJF+VdYjEJTFsI1x9qTX/Ptfp716dmc71m2tzfGPvmibAaI+OOmiZLTdgERETtO2dMJPwVwzHVzEbsu64cVOyIAWPNCRJzVa+yjNEGGHoj4bd1/DT2XNgg6WyJeO6Blv0fSE2Tqu4iZxsBtaYPuOQTgkogPlgGATWmDiG1HAZ1vIjZI/wNEvNMBronYXFJz2HnAQ3C8+mM8BUxEbA9EvwEI+OEg2OcX5ksWVA++AozA13rwDmANvK0G37sK2ACPawX4bKUpwMlK5e4aAbjYVG6xktfP6klzVqVD7twXMbdenw5WPRMR5+pjtepG/1jV5vGMkgv/DPItU3XgpSuOaPwFsUTQA47vSZQAAAAASUVORK5CYII="></p>
       <i class="lead">adjective/noun</i>
       <p class="lead">1. openKitchen is a web application that allows users to read and rate restaurants as customers and employees. Kind of like yelp but honest.</p>
       <p class="lead">2. Sign in or register above to get started!</p
     </div>
     </div>
   </div> <!-- /container -->


   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
 </body>
